@model List<User>
@{
	ViewBag.Title = "Manage users";
}
@section Head{
	<script type="text/javascript" src="/scripts/jquery-1.3.2.min.js"></script>
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	<li>@Html.ActionLink("Admin", "Dashboard", "Admin")</li>
</ul>
<h1>@ViewBag.Title</h1>
@{Html.BeginForm(null, null, FormMethod.Get);}
<div class="formItem floatContainer">
	<label for="userName">User name</label>
	@Html.TextBox("userName")
</div>
<div class="formItem buttons floatContainer">
	<input type="submit" value="Search" />
</div>
@{Html.EndForm();}
@if (Model.Count > 0)
{
	var list = new PagedList<User>(this.Model, this.PageIndex, 100);
	using (Html.BeginForm(null, null, FormMethod.Post, new{@id="manageForm"}))
	{
		@Html.AntiForgeryToken()
		<input type="hidden" name="searched" value="@ViewBag.UserName" />
		<input type="hidden" name="id" id="userId" />
		<table cellpadding="0" cellspacing="5" class="admin">
			<thead>
				<tr>
					<th><span style="visibility:hidden;">Action</span></th>
					<th>Name</th>
					<th>Group</th>
					<th>Registration date</th>
				</tr>
			</thead>
			<tbody>
			@foreach (User u in list)
			{
				<tr>
					<td>
						<span class="actions">
							<a href="#" onclick="return promoteUser(@u.Id, '@u.UserName');">Promote</a>
							<a href="#" onclick="return demoteUser(@u.Id, '@u.UserName');">Demote</a>
							<a href="#" onclick="return deleteUser(@u.Id, '@u.UserName');">Delete</a>
						</span>
					</td>
					<td><strong>@u.UserName</strong></td>
					<td>@u.GroupName</td>
					<td>@Html.Date(u.RegistrationDate)</td>
				</tr>			
			}
			</tbody>
		</table>
	}
	@Html.Pager(list.PageSize, list.PageIndex, list.TotalItemCount, new{userName = ViewData.Get<string>("userName")}, "Previous", "Next")
	<script type="text/javascript">
		function deleteUser(userId, userName)
		{
			if (confirm("Are you sure you want to DELETE the user " + userName + "?"))
			{
				$("#userId").val(userId);
				$('#manageForm').attr('action', '@(Url.Action("Delete"))').submit();
			}
			return false;
		}
		function promoteUser(userId, userName)
		{
			if (confirm("Are you sure you want to promote the user " + userName + "?"))
			{
				$("#userId").val(userId);
				$('#manageForm').attr('action', '@(Url.Action("Promote"))').submit();
			}
			return false;
		}
		function demoteUser(userId, userName)
		{
			if (confirm("Are you sure you want to demote the user " + userName + "?"))
			{
				$("#userId").val(userId);
				$('#manageForm').attr('action', '@(Url.Action("Demote"))').submit();
			}
			return false;
		}
	</script>
}
else
{
	<p class="warning">No user found for the username &quot;@ViewBag.UserName&quot;.</p>
}
