<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	@Html.Partial("HeadContainer")
	@Html.Stylesheet("~/styles/layout.css")
	@Html.Stylesheet("~/styles/content.css")
    @RenderSection("Head", required:false)
</head>
<body>
    <div id="container">
        <div id="header">
			@Html.Partial("HeaderContent", ViewData)
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
			@Html.Partial("FooterContent")
        </div>
    </div>
</body>
</html>
