@model Topic
@{
    ViewBag.Title = T("Unsubscribe");
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h1>@T("Unsubscribed from the thread")</h1>
<p>@T("You have been unsubscribed from the thread {0}.", Html.ActionLinkLocalized(Model.Title, "ShortUrl", "Topics", new { id = Model.Id }, null))</p>
@if (ViewData["User"] != null)
{
	<p>@T("Thank you.")</p>
}

<p style="padding-top: 50px;"><a href="/">@T("Continue >>")</a></p>
