@model UIElement
@{
	ViewBag.Title = S("Appearance settings");

	var forumSortLabels = new Dictionary<ForumSort, string>() 
	{ 
		{ForumSort.LatestActivity, S("Latest activity")},
		{ForumSort.MostViewedTopics, S("Most viewed threads")}
	};
	
}
<div class="settingForm">
	<ul class="path floatContainer">
		<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
		<li>@Html.ActionLinkLocalized("Admin", "Dashboard", "Admin")</li>
	</ul>
	@Html.Partial("Submenu")
	<h1>@ViewBag.Title</h1>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary("<h3>" + S("Please check the following errors:") + "</h3>", new Dictionary<string, object>
		{
			{"CultureName", S("Language is not valid. There is no matching translation (.po) file.")}
		}, null)
		<div class="formItem floatContainer">
			@Html.LocalizedLabelFor(m => m.DateFormat, "Date format")
			@Html.TextBoxFor(m => m.DateFormat)
			<span class="largeNote">@Html.Link(".NET Standard or custom date and time format strings", "http://msdn.microsoft.com/en-us/library/az4se3k1.aspx", new { target="_blank"})</span>
		</div>
		<div class="formItem floatContainer">
			@Html.LocalizedLabelFor(m => m.TopicsPerPage, "Threads per page")
			@Html.TextBoxFor(m => m.TopicsPerPage)
		</div>
		<div class="formItem floatContainer">
			@Html.LocalizedLabelFor(m => m.MessagesPerPage, "Messages per page")
			@Html.TextBoxFor(m => m.MessagesPerPage)
		</div>
		<div class="formItem floatContainer">
			@Html.LocalizedLabelFor(m => m.DefaultForumSort, "Default forum sort")
			@Html.DropDownListFor(m => m.DefaultForumSort, new SelectList(forumSortLabels, "Key", "Value"))
		</div>
		<div class="formItem floatContainer">
			@Html.LocalizedLabelFor(m => m.TagsCloudCount, "Amount of tags in the tag cloud")
			@Html.TextBoxFor(m => m.TagsCloudCount)
		</div>
		<div class="formItem checkbox">
			@Html.CheckBoxFor(m => m.ShowUserDetailsOnList)
			@Html.LocalizedLabelFor(m => m.ShowUserDetailsOnList, "Show user details (image, member since, ...) on thread detail page")
		</div>
		<div class="formItem checkbox">
			@Html.CheckBoxFor(m => m.Template.UseTemplates)
			@Html.LocalizedLabelFor(m => m.Template.UseTemplates, "Use templates")
		</div>
		<h2>Mobile</h2>
		<div class="formItem floatContainer">
			@Html.LocalizedLabelFor(m => m.Template.Mobile.Regex, "Mobile user agents")
			@Html.TextBoxFor(m => m.Template.Mobile.Regex)
			<span class="largeNote">@T("Regex to match the user agent string to")</span>
		</div>
		<h2>Resources</h2>
		<div class="formItem floatContainer">
			@Html.LocalizedLabelFor(m => m.Resources.JQueryUrl, "Jquery library")
			@Html.TextBoxFor(m => m.Resources.JQueryUrl)
			<span class="largeNote">@T("JQuery library Url. Can be either a virtual path (starting with ~/) or an absolute url, like <a href=\"{0}\" target=\"_blank\">the url of the JQuery libraries hosted on Google CDNs</a>.")</span>
		</div>
		<div class="formItem buttons">
			<input type="submit" value="@T("Send")" />
		</div>
	}
</div>