@{
	ViewBag.Title = "Add Template";
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	<li>@Html.ActionLink("Admin", "Dashboard", "Admin")</li>
	<li>@Html.ActionLink("Templates", "List")</li>
</ul>
<h1>Add Template</h1>
@Html.ValidationSummary("<h3>Please check the following errors:</h3>", new Dictionary<string, object>
	{
		{"postedFile", new Dictionary<ValidationErrorType, string>()
					{ 
						{ValidationErrorType.AccessRights, "The application does not file Write access on the server's template folder."}
						,{ValidationErrorType.FileFormat, "File format is invalid. Please include only the allowed files."}
						,{ValidationErrorType.NullOrEmpty, "File must not be blank."}
					}}
		, {"html", "The html template file does not contain the required placeholders: headcontainer and bodycontainer"}
		, {"Key", "Key format is not valid. Include a-z 0-9 and up to 64 characters."}
	}, null)
		
@{Html.BeginForm(null, null, FormMethod.Post, new{enctype="multipart/form-data"});}
<div class="formItem floatContainer">
	<label for="key">Key</label>@Html.TextBox("key")
</div>
<div class="formItem floatContainer">
	<label for="description">Description</label>@Html.TextBox("description")
</div>
<div class="formItem floatContainer">
	<label for="txtPostedFile">Template File (.zip)</label><input type="file" name="postedFile" id="txtPostedFile" />
</div>
<div class="formItem buttons floatContainer">
	<input type="submit" value="Submit" />
</div>
@{Html.EndForm();}