@{
	ViewBag.Title = "Load default templates";
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	<li>@Html.ActionLink("Admin", "Dashboard", "Admin")</li>
	<li>@Html.ActionLink("Templates", "List")</li>
</ul>
<h1>@ViewBag.Title</h1>
<p style="padding: 20px;">@ViewBag.TemplateCount templates loaded.</p>
@if (ViewBag.ErrorMessage != null)
{
	<p style="padding:0 20px 20px 20px;color: red;">@ViewBag.ErrorMessage</p>
}
<p>@Html.ActionLink("Continue >>", "List")</p>