@model List<Template>
@{
    ViewBag.Title = "Templates";
}
@section Head{
	@Html.ScriptjQuery()
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	<li>@Html.ActionLink("Admin", "Dashboard", "Admin")</li>
</ul>
<h1>Templates</h1>
@ViewData.WriteIf("DeleteCurrent", MvcHtmlString.Create("<p class='error'>You cannot delete the current template.</p>"), MvcHtmlString.Empty)
@ViewData.WriteIf("Access", "<p class='error'>The application does not have the necessary file read/write access.</p>", "")
<div class="templates">
	@using (Html.BeginForm(null, null, FormMethod.Post, new{@id="mainForm"}))
	{
		@Html.AntiForgeryToken()
		<input type="hidden" name="id" id="templateId" />
		<ul class="templateList floatContainer">
		@foreach (Template t in Model)
		{
			<li class="@(t == Model.First() ? "first" : "")">
				<div><img src="@(ViewBag.BasePath + t.Key)/screenshot.png" width="240" alt="@t.Key template screenshot" /></div>
				<h3>@t.Key</h3>
				<p>@t.Description</p>
				<div class="templateOptions">
					@if (!t.IsCurrent)
					{
						<span>
							<a href="#" onclick="return activeTemplate(@t.Id);">Activate</a>
							|
							@Html.ActionLink("Preview", "Preview", new { id = t.Id }, new { target="_blank"})
						</span>
					}
					else
					{
						<strong>Active</strong>
					}
					|
					@Html.ActionLink("Export", "Export", new{id=t.Id})
					@if (!t.IsCurrent)
					{
						<span>
							|
							<a href="#" onclick="return deleteTemplate(@t.Id);">Remove</a>
						</span>
					}
				</div>
			</li>
		}
		</ul>
		<p>@Html.ActionLink("Upload a new template >>", "Add")</p>
		<p>@Html.ActionLink("Create your custom template", "HowTo")</p>
		if (!Config.Template.UseTemplates)
		{
			<p style="padding-top: 50px;">
				Templating feature is <strong>disabled</strong> by configuration.
				<br />
				In order to enable templating in the site you must configure the template element on your Site.config file.
				<br />
				For example: 
			</p>
			<code>
				&lt;template useTemplates="true" path="/content/templates/" /&gt;
			</code>
		}
	}
</div>
<script type="text/javascript">
	function deleteTemplate(id) 
	{
		if (confirm("Are you sure you want to REMOVE this template?.\nthis action is not reversible.")) 
		{
			$("#templateId").val(id);
			$('#mainForm').attr('action', '@(Url.Action("Delete"))').submit();
		}
		return false;
	}

	function activeTemplate(id)
	{
		if (confirm("Are you sure you want to activate this template?")) 
		{
			$("#templateId").val(id);
			$('#mainForm').attr('action', '@(Url.Action("SetCurrent"))').submit();
		}
		return false;
	}
</script>