@model ForumCategory
@{
	ViewBag.Title = ViewData.WriteIf("IsEdit", S("Edit Category"), S("Create a new forum category"));
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
	<li>@Html.ActionLinkLocalized("Admin", "Dashboard", "Admin")</li>
	<li>@Html.ActionLinkLocalized("Forum Category", "List")</li>
</ul>
<h1>@ViewBag.Title</h1>
@Html.ValidationSummary("<h3>" + S("Please check the following errors:") + "</h3>", new Dictionary<string, object>
{
	{"Name", S("New category should have a name")},
    {"Order", S("New category order should be number 1 or above")}
}, null)
@using (Html.BeginForm())
{
	<div class="formItem floatContainer">
		@Html.LabelFor(p => p.Name, S("Forum Category"))
		@Html.TextBoxFor(p => p.Name, new { placeholder = "Category name here." })
	</div>
    
	<div class="formItem floatContainer">
		@Html.LabelFor(p => p.Order, S("Order"))
		@Html.TextBoxFor(p => p.Order)
	</div>
	
	<div class="formItem buttons">
		<input type="submit" value="@T("Save")" />
	</div>
}