@model ForumCategory
@{
	ViewBag.Title = ViewData.WriteIf("IsEdit", S("Edit Forum Category"), S("Create a new forum category"));
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
	<li>@Html.ActionLinkLocalized("Admin", "Dashboard", "Admin")</li>
	<li>@Html.ActionLinkLocalized("Forum Category", "List")</li>
</ul>
<h1>@ViewBag.Title</h1>
@Html.ValidationSummary("<h3>" + S("Please check the following errors:") + "</h3>", new Dictionary<string, object>
{
	{"Name", S("Name must not be blank.")},
    {"Order", S("Category order must be a number.")}
}, null)
@using (Html.BeginForm())
{
	<div class="formItem floatContainer">
		@Html.LabelFor(p => p.Name, S("Forum Category"))
		@Html.TextBoxFor(p => p.Name)
	</div>
	<div class="formItem floatContainer">
		@Html.LabelFor(p => p.Order, S("Category order"))
		@Html.TextBoxFor(p => p.Order)
	</div>
	<div class="formItem buttons">
		<input type="submit" value="@T("Send")" />
	</div>
}