@model List<PageContent>
@{
    ViewBag.Title = "Content Pages";
}
@section Head{
	<script type="text/javascript" src="/scripts/jquery-1.3.2.min.js"></script>
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	<li>@Html.ActionLink("Admin", "Dashboard", "Admin")</li>
</ul>
<h1>@ViewBag.Title</h1>
@if (this.Model.Count > 0)
{
	<ul class="admin">
	@foreach (PageContent p in this.Model)
	{
		<li>
			<span class="actions">@Html.ActionLink("Edit", "Edit", new{name=p.ShortName}) <a href="#" onclick="return deletePage('@Url.Action("Delete", new{name=p.ShortName})', '@p.Title', this);">Delete</a></span>
			@Html.ActionLink(p.Title, "Detail", new{name=p.ShortName})
		</li>
	}
	</ul>
}
<p>@Html.ActionLink("Create a new content page >>", "Add")</p>

<script type="text/javascript">
	function deletePage(url, title, sender)
	{
		if (confirm("Are you sure you want to delete the page '" + title + "'?"))
		{
			$.post(url, {}, function (data)
			{
				$(sender).closest("li").remove();
			});
		}
		return false;
	}
</script>