@model Forum
@{
	ViewBag.Title = Model.Name;
	if (IsAction("MostViewedTopics"))
	{
		ViewBag.Title += " - Most viewed";
	}
	else if (IsAction("LatestTopics"))
	{
		ViewBag.Title += " - Latest threads";
	}
}
@section Head
{
	@if (IsAction("Detail"))
	{
		@Html.MetaDescription(Model.Description)
	}
}
<div class="forumDetail">
	<ul class="path floatContainer">
		<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	</ul>
	<h1>@ViewBag.Title</h1>
	@Html.Partial("ForumOptions")
	@if (IsAction("Detail"))
	{
		<p class="description">@Model.Description</p>
	}
	@if (this.Model.Topics.Count > 0)
	{
		Html.RenderPartial("ForumTopicList", this.Model.Topics);
	}
	else
	{
		<p class="warning">No threads for this forum.</p>
	}
	@Html.Pager(Config.UI.TopicsPerPage, this.PageIndex, (int)ViewData["TotalTopics"], "Previous", "Next")
	@Html.Partial("TagCloud", ViewData.Get<List<WeightTag>>("Tags"))
	<p class="action">@Html.ActionLink("Post a thread >>", "Add", "Topics", new{forum=this.Model.ShortName}, null)</p>
	
	@if (User != null && User.Group >= UserGroup.Moderator)
	{
	<div class="toolbar floatContainer">
		<ul>
			<li class="edit">@Html.ActionLink("Edit", "Edit", new{forum=Model.ShortName})</li>
			<li class="manage">@Html.ActionLink("Manage forums", "Manage")</li>
		</ul>
	</div>
	}
</div>
