@model Forum
@{
	ViewBag.Title = Model.Name;
}
@section Head
{
	@Html.MetaDescription(Model.Description)
}
<div class="forumDetail">
	<ul class="path floatContainer">
		<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	</ul>
	<h1>@ViewBag.Title</h1>
	@Html.Partial("ForumOptions")
	<p>@Model.Description</p>
	@if (this.Model.Topics.Count > 0)
	{
		Html.RenderPartial("ForumTopicList", this.Model.Topics);
	}
	else
	{
		<p class="warning">No threads for this forum.</p>
	}
	@Html.Pager(Config.Forums.TopicsPerPage, this.PageIndex, (int)ViewData["TotalTopics"], "Previous", "Next")
		
	@Html.Partial("TagCloud", ViewData.Get<List<WeightTag>>("Tags"))
		
	<p class="action">@Html.ActionLink("Post a thread >>", "Add", "Topics", new{forum=this.Model.ShortName}, null)</p>
</div>
