@model IList<Topic>
@if (Model.Count > 0)
{
	<ul class="itemsHeader">
		<li class="name">Title</li>
		<li class="replies">Replies</li>
		<li class="views">Views</li>
		<li class="lastPost">Last post</li>
	</ul>
	<ul class="items">
		@foreach (Topic topic in Model)
		{
		<li class="@(topic.IsSticky ? "sticky" : "")">

			<h3 class="name">@Html.ActionLink(topic.Title, "Detail", "Topics", new { name = topic.ShortName, id = topic.Id, page = 0 }, null)</h3>
			<div class="replies">@topic.Replies <span class="label">@(topic.Replies != 1 ? "replies" : "reply")</span></div>
			<div class="separator">/</div>
			<div class="views">@topic.Views <span class="label">view@(topic.Views != 1 ? "s" : "")</span></div>
			<div class="lastPost">
				@if (topic.LastMessage != null)
				{
					<span class="label">Last post</span>
					<span class="label2">by</span>
					<span class="user">@Html.ActionLink(topic.LastMessage.User.UserName, "Detail", "Users", new {id=topic.LastMessage.User.Id }, null)</span>
					<span class="separator"> - </span>
					<span class="date">
						<a href="@(Url.Action("Detail", "Topics", new { name = topic.ShortName, id = topic.Id, page = 0 }))#msg@(topic.LastMessage.Id)">
						@Html.Date(topic.LastMessage.Date)
						</a>
					</span>
				}
				else
				{
					<span class="nomsg">No posts</span>
				}
			</div>
		</li>
		}
	</ul>
}