@model Forum
@{
    Layout = null;
}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
	<channel>
		<title>@T("Latest threads on '{0}' forum", Model.Name)</title>
		<link>@(this.Domain + Url.Action("Detail", new{forum=Model.ShortName}))</link>
		<description>@Utils.RemoveTags(this.Model.Description)</description>
		@foreach (Topic t in this.Model.Topics)
		{
		<item>
			<title>@t.Title</title>
			<link>@(this.Domain + Url.Action("ShortUrl", "Topics", new{id=t.Id}))</link>
			<guid>@(this.Domain + Url.Action("ShortUrl", "Topics", new{id=t.Id}))</guid>
			<description>@Utils.RemoveTags(t.Description)</description>
			<pubDate>@t.Date.ToApplicationDateTime().ToString("r", new System.Globalization.CultureInfo("en-US"))</pubDate>
		</item>
		}
	</channel>
</rss>