@model List<Topic>
@{
	ViewBag.Title = T("Unanswered Threads");
}
<div class="listUnansweredAll">
	<ul class="path floatContainer">
		<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
		<li>@Html.ActionLinkLocalized("Admin", "Dashboard", "Admin")</li>
	</ul>
	<h1>@ViewBag.Title</h1>
	@if (this.Model.Count > 0)
	{

		<ul class="itemsBasic">
		@foreach (Topic t in this.Model)
		{
			<li>
				@Html.ActionLink(t.Forum.Name, "Detail", "Forums", new{forum=t.Forum.ShortName}, null) &gt; @Html.ActionLink(t.Title, "ShortUrl", "Topics", new{id=t.Id}, null)
				<span class="details"><strong>@Html.Date(t.Date)</strong> / @(t.Views != 1 ? T("{0} <span class=\"label\">views</span>", t.Views) : T("1 <span class=\"label\">view</span>"))</span>
			</li>
		}
		</ul>
	}
	else
	{
		<p class="warning">@T("No unanswered threads, for now :)")</p>
	}
</div>