@model List<ForumCategory>
@{
	ViewBag.Title = "Forums";
}
<div class="forumList">
	<h1>@ViewBag.Title</h1>
	<div class="options">
		<a rel="nofollow" href="@Url.Action("LatestAllTopics")">@Html.Img("~/images/iconrss.gif", "rss")</a>
	</div>
	@foreach (ForumCategory category in this.Model)
	{
		<h2>@category.Name</h2>
		<ul class="itemsHeader">
			<li class="name">Forum</li>
			<li class="topicCount">Topics</li>
			<li class="replies">Posts</li>
		</ul>
		<ul class="items">
		@foreach (Forum forum in category.Forums)
		{

			<li>
				<h3 class="name">
					@Html.ActionLink(forum.Name, "Detail", new { forum = forum.ShortName })
				</h3>
				<div class="topicCount">@forum.TopicCount <span class="label">thread@(forum.TopicCount != 1 ? "s" : "") </span></div>
				<div class="separator">/ </div>
				<div class="replies">@forum.MessageCount <span class="label">post@(forum.MessageCount != 1 ? "s" : "") </span></div>
				<p class="description">@forum.Description</p>
			</li>
		}
		</ul>
	}
	@if (this.Model.Count == 0)
	{
		<p>No forums found. Create @Html.ActionLink("a forum", "Add").</p>
		if (!ViewData.Get<bool>("IsSiteSet", true))
		{
			<p style="padding-top:20px;"><em>Recommended: @Html.ActionLink("Check the website status", "StatusFirst", "Admin")</em></p>
		}
	}
</div>