@model List<ForumCategory>
@{
	ViewBag.Title = T("Forums");
}
<div class="forumList">
	<h1>@ViewBag.Title</h1>
	<div class="options">
		<a rel="nofollow" href="@Url.Action("LatestAllTopics")">@Html.Img("~/images/iconrss.gif", "rss")</a>
	</div>
	@foreach (ForumCategory category in this.Model)
	{
		<h2>@category.Name</h2>
		<ul class="itemsHeader">
			<li class="name">@T("Forum")</li>
			<li class="topicCount">@T("Topics")</li>
			<li class="replies">@T("Posts")</li>
		</ul>
		<ul class="items">
		@foreach (Forum forum in category.Forums)
		{

			<li>
				<h3 class="name">
					@Html.ActionLink(forum.Name, "Detail", new { forum = forum.ShortName })
				</h3>
				<div class="topicCount">@forum.TopicCount <span class="label">@(forum.TopicCount != 1 ? T("threads") : T("thread"))</span></div>
				<div class="separator">/ </div>
				<div class="replies">@forum.MessageCount  <span class="label">@(forum.MessageCount != 1 ? T("posts") : T("post"))</span></div>
				<p class="description">@forum.Description</p>
			</li>
		}
		</ul>
	}
	@if (this.Model.Count == 0)
	{
		<p>
			@T("No forums found.")
			<br />
			@Html.ActionLink(T("Create a forum").ToString(), "Add")
		</p>
	}
</div>