@model Forum
@{
	ViewBag.Title = T("Threads tagged \"{0}\"", ViewData["Tag"]);
}
<div class="forumDetail">
	<ul class="path floatContainer">
		<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
		<li>@Html.ActionLinkLocalized(Model.Name, "Detail", "Forums", new{forum=Model.ShortName}, null)</li>
	</ul>
	<h1>@ViewBag.Title</h1>
@{	
	PagedList<Topic> topics = new PagedList<Topic>(Model.Topics, this.PageIndex, Config.UI.TopicsPerPage);
}
	@Html.Partial("ForumTopicList", topics)
	@Html.Pager(topics, S("Previous"), S("Next"))
</div>