@{
    ViewBag.Title = T("Admin Dashboard");
}
<div class="adminDashboard">
	<ul class="path floatContainer">
		<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
	</ul>
	<h1>@ViewBag.Title</h1>
	<h2>@T("Moderation")</h2>
	<ul class="itemsBasic">
		<li>
			<h3>@Html.ActionLinkLocalized("Manage forums", "Manage", "Forums")</h3>
			<p>@T("Add / edit / delete forums.")</p>
		</li>
		<li>
			<h3>@Html.ActionLinkLocalized("Unanswered threads", "ListAllUnansweredTopics", "Forums")</h3>
			<p>@T("View unanswered threads from all forums.")</p>
		</li>
		<li>
			<h3>@Html.ActionLinkLocalized("Flagged messages", "ListFlagged", "Messages")</h3>
			<p>@T("Manage all flagged messages.")</p>
		</li>
	</ul>
	@if (this.User.Role == UserRole.Admin)
	{
		<h2>@T("Administration")</h2>
		<ul class="itemsBasic">
			<li>
				<h3>@Html.ActionLinkLocalized("Settings", "EditUI", "Settings")</h3>
				<p>@T("Change application settings.")</p>
			</li>
			<li>
				<h3>@Html.ActionLinkLocalized("Manage users", "List", "Users")</h3>
				<p>@T("Promote, demote, delete and manage forum users.")</p>
			</li>
			<li>
				<h3>@Html.ActionLinkLocalized("Manage pages", "List", "PageContents")</h3>
				<p>@T("Manage content pages like about / privacy / ...")</p>
			</li>
            <li>
				<h3>@Html.ActionLinkLocalized("Manage categories", "List", "ForumCategories")</h3>
				<p>@T("Add, edit or delete categories.")</p>
			</li>
			<li>
				<h3>@Html.ActionLinkLocalized("Manage search index", "Manage", "SearchEngine")</h3>
				<p>@T("Manage the search index for the forum.")</p>
			</li>
			<li>
				<h3>@Html.ActionLinkLocalized("Manage templates", "List", "Templates")</h3>
				<p>@T("Manage the site templates for the forum.")</p>
			</li>
		</ul>
	}
	<p class="assemblyVersion"><em>Nearforums v. @ViewBag.Version</em></p>
</div>