@model Topic
@{
    ViewBag.Title = Model.Title;
}
@section Head{
	@Html.MetaDescription(Utils.Summarize(Utils.RemoveTags(Model.Description), 160, ""))
	@Html.Script("~/scripts/common.js")
}
<ul class="path">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	<li>@Html.ActionLink(Model.Forum.Name, "Detail", "Forums", new{forum=Model.Forum.ShortName}, null)</li>
</ul>
<div class="topicDetail">
	<h1>@ViewBag.Title</h1>
	<div class="options">
		<a rel="nofollow" href="@Url.Action("LatestMessages")">@Html.Img("~/images/iconrss.gif", "rss")</a>
	</div>
	<p class="info">
		Posted by <strong class="userName">@Html.ActionLink(Model.User.UserName, "Detail", "Users", new{id=Model.User.Id}, new{rel="nofollow"})</strong>
		at 
		@Html.Date(Model.Date)
	</p>
	<div class="description">
		@Html.Raw(Model.Description)
	</div>
@{
	var messages = new PagedList<Message>(Model.Messages, this.PageIndex, Config.UI.MessagesPerPage);
}
	@if (messages.Count > 0)
	{
		<ul id="messages">
		@foreach (Message m in messages)
		{
			Html.RenderPartial("MessageItem", m);
		}
		</ul>
	}
	@if (messages.TotalItemCount > 0)
	{
		<div class="pagerSummary">
			Displaying
			<span class="firstItem">@(this.PageIndex * Config.UI.MessagesPerPage + 1)</span>
			to
			<span class="lastItem">@(this.PageIndex * Config.UI.MessagesPerPage + messages.Count)</span>
			of
			<span class="totalItems">@messages.TotalItemCount</span>
			messages
		</div>
	}
	<div id="pagerClient" style="display:none;"><a href="#" onclick="pager.more();return false;">@Html.Img("~/images/loadingMini.gif", "") Show more messages</a></div>
	@Html.Pager(messages)
	@Html.Partial("Toolbar", this.Model)
	@Html.Partial("Related", this.Model)
</div>
@Html.Script("~/scripts/overtip.js")
@Html.Script("~/scripts/pager.js")
@Html.Script("~/scripts/quoting.js")
<script type="text/javascript">
	$(document).ready(function ()
	{
		quoting.init();
		pager.init('@Url.Action("PageMore", "Topics", new{id=Model.Id})', '@Url.Action("PageUntil", "Topics", new{id=Model.Id})');
	});
</script>
<script type="text/javascript">
	//$(document).bind("dataLoaded", function ()
	$(document).ready(function ()
	{
		$("#messages li")
			.live("tap", function () { $(this).toggleClass("over"); })
			.live("mouseenter", function () { $(this).css("background-color","").addClass("over"); })
			.live("mouseleave", function () { $(this).removeClass("over"); });
	});
</script>