@model Topic
<div class="toolbar floatContainer">
	<ul>
		@if (!this.Model.IsClosed)
		{
			<li class="reply">@Html.ActionLinkLocalized("Reply", "Reply", null, new{rel="nofollow"})</li>
		}
		<li class="showAll"><a href="#" onclick="return pager.showAll();">@T("Show all messages")</a></li>
		<li class="print"><a href="#" onclick="window.print();return false;">@T("Print")</a></li>
		@if (this.User!= null && (this.User.HasModeratorPriviledges || this.User.Id == Model.User.Id))
		{
			<li class="edit">@Html.ActionLinkLocalized("Edit", "Edit")</li>
			<li class="move">@Html.ActionLinkLocalized("Move thread", "Move", new{forumName=Model.Forum.ShortName})</li>
			<li class="delete">@Html.ActionLinkLocalized("Delete", "Delete", null, new{@onclick="return confirm('" + S("Are you sure you want to DELETE this thread?") + "');"})</li>
			if (!this.Model.IsClosed)
			{
				<li class="close">@Html.ActionLinkLocalized("Close", "CloseReplies", null, new{@onclick="return confirm('" + S("Are you sure you want to CLOSE this thread for further replies?") + "');"})</li>
			}
			else
			{
				<li class="open">@Html.ActionLinkLocalized("Open to replies", "OpenReplies")</li>
			}
		}
	</ul>
</div>