@{
    ViewBag.Title = "Register"; ;
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h1>@ViewBag.Title</h1>
<p>
    
</p>
@Html.ValidationSummary("<h3>Please check the following errors:</h3>", new Dictionary<string, object>(), null)
@using (Html.BeginForm())
{
    <fieldset>
		<legend>Use the form below to create a new account</legend>
		<div class="formItem floatContainer">
			<label for="username">Username</label>
			@Html.TextBox("username")
		</div>
		<div class="formItem floatContainer">
			<label for="email">Email</label>
			@Html.TextBox("email")
		</div>
		<div class="formItem floatContainer">
			<label for="password">Password</label>
			@Html.Password("password")
			<span class="note">Passwords are required to be a minimum of @ViewData["PasswordLength"] characters in length.</span>
		</div>
		<div class="formItem floatContainer">
			<label for="email">Confirm Password:</label>
			@Html.Password("confirmPassword")
		</div>
		<div class="formItem buttons">
			<input type="submit" class="button" value="Create a new account" />
		</div>
    </fieldset>
}
