@{
	ViewBag.Title = "Reset Password"; ;
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h2>
	Reset Password</h2>
@Html.ValidationSummary("Invalid username information.")
@using (Html.BeginForm())
{
	<fieldset>
	<legend>Provide your username. A link will be sent to your email so that you can reset your password.</legend>
		<div class="formItem floatContainer">
			<label for="username">
				Username</label>
			@Html.TextBox("username", null, new { @class = "text" })
			@Html.ValidationMessage("username")
		</div>
		<div class="formItem floatContainer">
			<label for="email">
				Email</label>
			@Html.TextBox("email", null, new { @class = "text" })
			@Html.ValidationMessage("email")
		</div>
		<div class="formItem buttons">
			<input type="submit" class="button" value="Submit" />
		</div>
	</fieldset>
}
