@{
    ViewBag.Title = T("Sign in");
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
</ul>
<div id="login" class="floatContainer">
	<h1>@ViewBag.Title</h1>
	@if (Config.AuthenticationProviders.CustomDb.IsDefined)
	{
		<div class="membership">
			<h2>@T("Sign in using your existing account")</h2>
			@Html.Partial("LoginForm")
		</div>
	}
	else if (Config.AuthenticationProviders.FormsAuth.IsDefined)
	{
		<div class="membership">
			<h2>@T("Sign in using your existing account")</h2>
			@Html.Partial("LoginForm")
		</div>
	}
	@if (Config.AuthenticationProviders.Facebook.IsDefined)
	{
		<div class="facebook">
			<h2>@T("Sign in with your Facebook account")</h2>
			<p class="button">@Html.Partial("ButtonFacebook")</p>
			<div class="connectMessage">
				<p>
					@T("You should be entering the same email address and password that you would use to log into Facebook homepage. Facebook will not share your password with us.")
				</p>
			</div>
		</div>
	}
	@if (Config.AuthenticationProviders.Twitter.IsDefined)
	{
		<div class="twitter">
			<h2>@T("Sign in with your Twitter account")</h2>
			<p class="button">@Html.Partial("ButtonTwitter")</p>
			<div class="connectMessage">
				<p>
					@T("You should be entering your twitter username and password at twitter.com website to login on the forums. Twitter will not share your password with us.")
				</p>
			</div>
		</div>
	}
	@if (Config.AuthenticationProviders.SSOOpenId.IsDefined)
	{
		<div class="ssoOpenId">
			<h2>@T("Sign in with your site credentials")</h2>
			<p class="button"><input type="button" class="button" value="@T("Login")" onclick="window.location.href='@Url.Action("OpenIdStartLogin", "Authentication", new{returnUrl = this.Request.Url.PathAndQuery})';" /></p>
			<div class="connectMessage">
				<p>Sign in using the same username and password information as in the main site.</p>
			</div>
		</div>
	}
</div>
